:root {
    --corPadrao: #c7244c;
}

.about {
    height: 100%;
}

.effectAbout {
    position: relative;
    transform: translate(90%,430%);
    display: flex;
    /* top: 0px; */
    top: 185px;
    left: 36px;
    background: linear-gradient(to bottom, #bb002f80, var(--corPadrao));
    box-shadow: 0px 1px 10px 4px  #c7244db6;
    width: 350px;
    /* height: 50px; */
    height: 10px;

}

.effectAbout::after, .effectAbout::before {
    content: "";
    position: absolute;
    transform: rotate(10deg);
    display: flex;
    flex-direction: column-reverse;
    background: linear-gradient(to bottom, #bb002f80, var(--corPadrao));
    box-shadow: 0px 1px 12px 1px #c7244db2;
}

.effectAbout::after {
    top: -57px;
    left: -55px;
    width: 12px;
    height: 65px;
}

.effectAbout::before {
    top: -41px;
    left: -30px;
    width: 10px;
    height: 45px;
}

.aboutMe {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 285px;
    top: 150px;
    width: 600px;
}

#aboutPT {
    font-size: 50px;
    font-family: 'Stick', sans-serif;
    letter-spacing: 2px; 
    white-space: nowrap;
    height: fit-content;
    transform: translateY(-3%);
    margin-bottom: 25px;
    margin-left: 75px;
    filter: drop-shadow(0px -2px 6px #cececeb6);

}

#textAboutPT {
    font-size: 20px;
    margin-left: 25px;
    /* font-family: 'Monomaniac One', sans-serif;  */
    /* font-family: 'Reggae One', system-ui; */
    /* font-family: 'Stick', sans-serif; */
    /* font-family: 'Audiowide', sans-serif; */
    font-family: 'Aldrich', sans-serif;
    /* font-family: 'Rajdhani', sans-serif; */
    filter: drop-shadow(1px 1px 5px #cececeb6);
}