* {
    border: 0;
    padding: 0;
    margin: 0;
    text-decoration: none;
    /* border: 1px solid red; */
}

:root {
    --corPadrao: #c7244c;
}

body {
    background-color: #000000;
}

main {
    color: #ffffff;
}

.cargoContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    overflow-x: hidden;
    position: relative;
}

.nomeCargo {
    align-items: center;
    width: 28vw;
    height: 18vh;
}

#nomeEN {
    font-size: 25;
    color: var(--corPadrao);
    filter: drop-shadow(0 0 12px #ff5781);
    /* font-family: 'Monomaniac One', sans-serif; */
    font-family: 'Stick', sans-serif; 
    margin-bottom: 10px;
    letter-spacing: 10;
    width: fit-content;
    white-space: nowrap;
}

#nomeJP {
    font-size: 25;
    color: var(--corPadrao);
    filter: drop-shadow(0 0 12px #ff5781);
    font-family: 'Reggae One', system-ui;
    margin-bottom: 30px;
    letter-spacing: 10;
    z-index: 0;
    animation: glitch 5s step-end infinite;
}

#nomeJP::after, #nomeJP::before {
    content: attr(data-text);
    position: absolute;
}

#nomeJP::after {
    z-index: -2;
    color: rgb(214, 29, 252);
    left: -3px;
    top: -5px;
    animation: glitch 5s step-end infinite, glitchOpacity 5s step-end infinite, glitchFont 7s step-end infinite, glitchMovement 10s step-end infinite;
}

#nomeJP::before {
    z-index: -1;
    color: rgb(248, 86, 175);
    left: 3px;
    top: 5px;
    animation: glitch 5s step-end infinite, glitchOpacity 5s step-end infinite, glitchFont 8s step-end infinite, glitchMovement 8s step-end infinite;
}

#cargoPT {
    font-size: 70px;
    font-family: 'Aldrich', sans-serif;
    filter: drop-shadow(0 0 4px #ffffffcc);
}

#cargoEN {
    font-size: 100px;
    /* font-family: 'Monomaniac One', sans-serif;  */
    /* font-family: 'Reggae One', system-ui; */
    /* font-family: 'Stick', sans-serif; */

    /* font-family: 'Audiowide', sans-serif; */
    font-family: 'Aldrich', sans-serif;
    /* font-family: 'Rajdhani', sans-serif; */
    filter: drop-shadow(0 0 4px #ffffffcc);
}

#cargoJP {
    font-size: 100px;
    font-family: 'Monomaniac One', sans-serif;
    filter: drop-shadow(0 0 4px #ffffffcc);
    margin-top: -50px;
}

.terminal {
    font-size: 160px;
    font-family: 'Reggae One', system-ui;
    position: absolute;
    /* left: 525px; */
    left: -127px;
    /* right: 175px; */
    top: -105px;
    color: var(--corPadrao);
    filter: drop-shadow(0 0 12px #ff4d79);
    transition: left 1.5s;
}


.imgContainer {
    display: flex;
    position: relative;
}

#terminalUnder {
    animation: piscar 1.35s infinite;
    position: absolute;
    /* left: -100px; */
}

@keyframes piscar {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fundo {
    width: 65%;
    right: -650px;
    top: 0;
    z-index: -2;
    position: absolute;
    filter: blur(1.25px) brightness(80%);
}

.fundoBrilho {
    width: 65%;
    right: -650px;
    /* right: -1000; */
    top: 0;
    z-index: -1;
    position: absolute;
    /* filter: hue-rotate(85deg) saturate(89%) drop-shadow(0 0 30px #ff4d79) blur(1.9px); */
    filter: blur(1.25px) brightness(120%);
    /* box-shadow: 0 0 50px 90px #4724c760; */
    animation: fundo 2.25s infinite;
}

.setaAbaixo {
    position: absolute;
    transform: translate(250%,100%);
    top: 800px;
    animation: descerLuz 5s infinite;
    background: linear-gradient(to bottom, #bb002f65, var(--corPadrao));
    border-radius: 100px;
    width: 300px;
    height: 12px;
}

@keyframes descerLuz {
    0% {
        transform: translate(250%,100%);
        background-position-y: 0px;
        filter: drop-shadow(0 0 12px var(--corPadrao));
    }
    50% {
        transform: translate(250%,800%);
        background-position-y: 60px;
        filter: drop-shadow(1px 1px 20px #ff87a5);

    }
    100% {
        transform: translate(250%,100%);
        background-position-y: 60px;
        filter: drop-shadow(0 0 12px var(--corPadrao));
    }
}

@keyframes fundo {
    0% {
        opacity: 1;
    }
    20% {
        opacity: 0.7;
    }
    40% {
        opacity: 0;
    }
    60% {
        opacity: 1;
    }
    80% {
        opacity: 0.7;
    }
    90% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes glitch {
    0% {
      clip-path: polygon(
        0% 43%,
        83% 43%,
        83% 22%,
        23% 22%,
        23% 24%,
        91% 24%,
        91% 26%,
        18% 26%,
        18% 83%,
        29% 83%,
        29% 17%,
        41% 17%,
        41% 39%,
        18% 39%,
        18% 82%,
        54% 82%,
        54% 88%,
        19% 88%,
        19% 4%,
        39% 4%,
        39% 14%,
        76% 14%,
        76% 52%,
        23% 52%,
        23% 35%,
        19% 35%,
        19% 8%,
        36% 8%,
        36% 31%,
        73% 31%,
        73% 16%,
        1% 16%,
        1% 56%,
        50% 56%,
        50% 8%
      );
    }
  
    5% {
      clip-path: polygon(
        0% 29%,
        44% 29%,
        44% 83%,
        94% 83%,
        94% 56%,
        11% 56%,
        11% 64%,
        94% 64%,
        94% 70%,
        88% 70%,
        88% 32%,
        18% 32%,
        18% 96%,
        10% 96%,
        10% 62%,
        9% 62%,
        9% 84%,
        68% 84%,
        68% 50%,
        52% 50%,
        52% 55%,
        35% 55%,
        35% 87%,
        25% 87%,
        25% 39%,
        15% 39%,
        15% 88%,
        52% 88%
      );
    }
  
    30% {
      clip-path: polygon(
        0% 53%,
        93% 53%,
        93% 62%,
        68% 62%,
        68% 37%,
        97% 37%,
        97% 89%,
        13% 89%,
        13% 45%,
        51% 45%,
        51% 88%,
        17% 88%,
        17% 54%,
        81% 54%,
        81% 75%,
        79% 75%,
        79% 76%,
        38% 76%,
        38% 28%,
        61% 28%,
        61% 12%,
        55% 12%,
        55% 62%,
        68% 62%,
        68% 51%,
        0% 51%,
        0% 92%,
        63% 92%,
        63% 4%,
        65% 4%
      );
    }
  
    45% {
      clip-path: polygon(
        0% 33%,
        2% 33%,
        2% 69%,
        58% 69%,
        58% 94%,
        55% 94%,
        55% 25%,
        33% 25%,
        33% 85%,
        16% 85%,
        16% 19%,
        5% 19%,
        5% 20%,
        79% 20%,
        79% 96%,
        93% 96%,
        93% 50%,
        5% 50%,
        5% 74%,
        55% 74%,
        55% 57%,
        96% 57%,
        96% 59%,
        87% 59%,
        87% 65%,
        82% 65%,
        82% 39%,
        63% 39%,
        63% 92%,
        4% 92%,
        4% 36%,
        24% 36%,
        24% 70%,
        1% 70%,
        1% 43%,
        15% 43%,
        15% 28%,
        23% 28%,
        23% 71%,
        90% 71%,
        90% 86%,
        97% 86%,
        97% 1%,
        60% 1%,
        60% 67%,
        71% 67%,
        71% 91%,
        17% 91%,
        17% 14%,
        39% 14%,
        39% 30%,
        58% 30%,
        58% 11%,
        52% 11%,
        52% 83%,
        68% 83%
      );
    }
  
    76% {
      clip-path: polygon(
        0% 26%,
        15% 26%,
        15% 73%,
        72% 73%,
        72% 70%,
        77% 70%,
        77% 75%,
        8% 75%,
        8% 42%,
        4% 42%,
        4% 61%,
        17% 61%,
        17% 12%,
        26% 12%,
        26% 63%,
        73% 63%,
        73% 43%,
        90% 43%,
        90% 67%,
        50% 67%,
        50% 41%,
        42% 41%,
        42% 46%,
        50% 46%,
        50% 84%,
        96% 84%,
        96% 78%,
        49% 78%,
        49% 25%,
        63% 25%,
        63% 14%
      );
    }
  
    90% {
      clip-path: polygon(
        0% 41%,
        13% 41%,
        13% 6%,
        87% 6%,
        87% 93%,
        10% 93%,
        10% 13%,
        89% 13%,
        89% 6%,
        3% 6%,
        3% 8%,
        16% 8%,
        16% 79%,
        0% 79%,
        0% 99%,
        92% 99%,
        92% 90%,
        5% 90%,
        5% 60%,
        0% 60%,
        0% 48%,
        89% 48%,
        89% 13%,
        80% 13%,
        80% 43%,
        95% 43%,
        95% 19%,
        80% 19%,
        80% 85%,
        38% 85%,
        38% 62%
      );
    }
  
    1%,
    7%,
    33%,
    47%,
    78%,
    93% {
      clip-path: none;
    }
}

@keyframes glitchMovement {
    0% {
      top: 0px;
      left: -20px;
    }
  
    15% {
      top: 10px;
      left: 10px;
    }
  
    60% {
      top: 5px;
      left: -10px;
    }
  
    75% {
      top: -5px;
      left: 20px;
    }
  
    100% {
      top: 10px;
      left: 5px;
    }
  }

  @keyframes glitchOpacity {
    0% {
      opacity: 0.1;
    }
  
    5% {
      opacity: 0.7;
    }
  
    30% {
      opacity: 0.4;
    }
  
    45% {
      opacity: 0.6;
    }
  
    76% {
      opacity: 0.4;
    }
  
    90% {
      opacity: 0.8;
    }
  
    1%,
    7%,
    33%,
    47%,
    78%,
    93% {
      opacity: 0;
    }
  }

  @keyframes glitchFont {
    0% {
      font-weight: 100;
      color: rgb(248, 86, 175);
      filter: blur(3px);
    }
  
    20% {
      font-weight: 500;
      color: rgb(214, 29, 252);
      filter: blur(0);
    }
  
    50% {
      font-weight: 300;
      color: rgb(248, 86, 175);
      filter: blur(2px);
    }
  
    60% {
      font-weight: 700;
      color: var(--corPadrao);
      filter: blur(0);
    }
  
    90% {
      font-weight: 500;
      color: rgb(214, 29, 252);
      filter: blur(6px);
    }
  }