:root {
    --corPadrao: #c7244c;
    user-select: none;
}

#menuLuz {
    width: 5.5%;
    height: 100vh;
    background: linear-gradient(to left, #000000, #ff578144, var(--corPadrao));
    
    z-index: 1;

    top: -1300px;
    position: fixed;
}

.menu {
    display: block;
    position: fixed;

    top: -1300;
    left: -10px;

    width: 65px;
    height: 100vh;
    border-radius: 25px;
    background: linear-gradient(to bottom, #96000048, #ff325467, #96000054), linear-gradient(to left,#fd2f5180, transparent);

    overflow: hidden;
    z-index: 1;
    
    animation: luz 1.65s linear infinite;
}

.menu img {
    scale: 130%;
    filter: brightness(0) invert(0.65);
    z-index: 2;
}

@keyframes luz {
    0% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0 1000;
    }
}

.menu h2 {
    font-family: 'Reggae One', system-ui;
    font-size: 22px;
    filter: drop-shadow(5px 5px 8px #000000);
    z-index: 2;
    color: #ffffff;
    /* border-right: 2px solid #424242; */
    white-space: nowrap;
    overflow: hidden;
    letter-spacing: 0.5px;
    transition: .8s;
    margin-left: 5px;
}

.menuImgs {
    opacity: 0%;
    display: none;
}

.menu ul {
    position: relative;
    height: 100%;
    align-items: center;
    margin-top: 10px;
}

.menu ul li {
    list-style: none;
    cursor: pointer;
}
.menu ul li div {
    position: relative;
    display: flex;
}
.menu ul li div img {
    margin: 0px 17px;
    margin-left: 24px;
}

.typingMenuOpen {
    animation: typingMenuA 1s steps(8);
}
.typingMenuClose {
    animation: typingMenuB .8s steps(8);
}

@keyframes typingMenuA {
    from {
        border-right: 4px solid rgb(214, 29, 252);
        width: 0ch;
    }
    to {
        width: 8ch;
    }
}
@keyframes typingMenuB {
    from {
        border-right: 4px solid rgb(214, 29, 252);
        width: 4.65ch;
    }
    to {
        width: 0ch;
    }
}