:root {
    --corPadrao: #c7244c;
}

/* ::-webkit-scrollbar {
    background: transparent;
    width: 8px;
} */

.scroll::-webkit-scrollbar {
    background: transparent;

    width: 8px;
    /* display: none; */
}

/* ::-webkit-scrollbar-track {
} */

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    
    background-color: rgb(199, 36, 76);
}

::-webkit-scrollbar-button {
    display: none;
}

html {
    scroll-behavior: smooth;
}

.skillsContainer::-webkit-scrollbar {
    background: transparent;
    width: 8px;
}

/* #skillsPage::-webkit-scrollbar {
    display: none;
} */

.skillsListContainer::-webkit-scrollbar {
    background: transparent;
    width: 8px;
}

.coursesContainer::-webkit-scrollbar {
    background: transparent;
    width: 4px;

    /* background-color: #d61dfc */
}

.projectsContainer::-webkit-scrollbar {
    background: transparent;
    height: 8px;

    background-color: #d61dfc
}

.projectsContainer::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 0px;

    background-color: #c7244c
}