:root {
    --corPadrao: #c7244c;
}

/* ::-webkit-scrollbar {
    background: transparent;
    width: 8px;
} */

.scroll::-webkit-scrollbar {
    background: transparent;

    width: 8px;
    /* display: none; */
}

/* ::-webkit-scrollbar-track {
} */

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    
    background-color: rgb(199, 36, 76);
}

::-webkit-scrollbar-button {
    display: none;
}

html {
    scroll-behavior: smooth;
}